@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Slab:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.pageindex {
   font-family: "PT Sans", serif;

   font-size: 20px;
   line-height: 1.5;
   max-width: 900px;
   margin: 0 auto;
   overflow: hidden;
}
.rp-image {
   min-width: 900px;
   background-color: bisque;
   overflow: scroll;
}
#rp2040 {
   max-width: 500px;
}
.title-page1 {
   font-weight: 700;
   font-size: 50px;
}
.subtitle-page1 {
   font-weight: 700;
   font-size: 35px;
}
.partnews {
   background-color: rgb(204, 166, 116);
}
.page1.xilin {
   background-image: url(../img/xilink.jpg);
}
.page1.gradient {
   background-image: linear-gradient(
      to bottom,
      rgba(236, 232, 157, 1) 0%,
      rgb(219, 129, 26) 50%,
      rgb(110, 211, 15) 100%
   );
}

.page1.fon1 {
   background-image: url(../img/xilink.jpg);
   background-repeat: no-repeat;
   background-color: rgba(153, 205, 50, 0.452);
   border: 5px solid grey;
   margin-bottom: 10px;
}

.page1.fon2 {
   background: rgba(172, 24, 24, 0.493) url(../img/xilink.jpg) repeat-x;
   border: 5px solid rgb(37, 185, 32);
   margin-bottom: 10px;
}

.page1.fon3 {
   background: rgba(15, 101, 122, 0.63) url(../img/xilink.jpg) no-repeat;
   background-position: center;
   border: 5px solid grey;
   margin-bottom: 10px;
}

.page1.fon4 {
   background: rgba(15, 101, 122, 0.63) url(../img/xilink.jpg) no-repeat;
   background-position: top right;
   border: 5px solid grey;
   margin-bottom: 10px;
}
.page1.fon5 {
   background: rgba(15, 101, 122, 0.63) url(../img/xilink.jpg) 25px 30px no-repeat fixed;

   margin-bottom: 10px;
}

.page1.fon6 {
   background: rgba(15, 101, 122, 0.63) url(../img/xilink.jpg) 0 0 / cover fixed;
   color: wheat;
   padding: 40px;
   border: 5px solid grey;
   margin-bottom: 10px;
}

.page1.fon7 {
   background: url(../img/xilink.jpg) no-repeat, url(../img/plis_01_06.gif) top right/300px 300px no-repeat;
   margin-bottom: 10px;
}

/* ====page 2 design======= */
.page2 {
   font-family: "Lato", serif;
   max-width: 810px;
   margin: 0 auto;
}
.title-page2 {
   font-family: "Lato";
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1e212c;
   margin-bottom: 26px;
}

.meta {
   font-size: 16px;
   line-height: 1.6;
   color: #787a80;
   margin-bottom: 40px;
}
.date {
   padding-left: 28px;
   margin-right: 8px;
   background: url(../img/Calendar.svg) 0 0/18.5px 18.5px no-repeat;
}
.time {
   padding-left: 28px;
   margin-right: 8px;
   background: url(../img/Clock.svg) 0 0/18.5px 18.5px no-repeat;
}
.image-page2 {
   margin: 0 0 60px 0;
}
.textbold {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1e212c;
   margin-bottom: 24px;
}

.textsimple {
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
   margin-bottom: 24px;
}

.textflot {
   padding-left: 58px;
   background: url(../img/Rectangle.svg) 0 0/10px 20px no-repeat, url(../img/Rectangle.svg) 18px 0/10px 20px no-repeat;
}
.textbold.textflot {
   margin: 48px 0;
}

.list-page2 {
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
   margin-bottom: 24px;
}
.list-page2 li {
   padding-left: 40px;
   background: url(../img/check.svg) 0 2px/24px 24px no-repeat;
   margin-bottom: 4px;
}

.page3 {
   font-family: "Lato", serif;
   max-width: 390px;
   margin: 0 auto;
}

.list-page3 {
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
   margin-bottom: 24px;
}

.list-page3 li {
   padding-left: 32px;
   background: url(../img/check.svg) 0 5px/16px 16px no-repeat;
   margin-bottom: 22px;
}

.subtitle-page3 {
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   color: #1e212c;
   line-height: 1.5;
   letter-spacing: 1px;
   margin-bottom: 8px;
}
.title-page3 {
   font-weight: 900;
   font-size: 46px;
   color: #1e212c;
   line-height: 1.3;
   margin-bottom: 40px;
}
.button-orange {
}
.button-page3 {
   font-size: 14px;
   line-height: 3.14;
   font-weight: 700;
   letter-spacing: 0.5px;
   border-radius: 4px;
   color: white;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   width: 161px;
   height: 44px;
   text-align: center;
   display: inline-block;
}
